<!DOCTYPE html>
<html lang="en">
<head>
  <title>Juxt Diagnose</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Juxt Diagnose, The result</h1>
    </div>
    <h2>Disorders are{{y}}</h2>
    <br>
    <h2>PatientID are {{z}}</h2>
</div>    
<br>
<br>
<div class="container">
    <h4>Go to {root utl}/app/test <a href="{root utl}/app/test">{root utl}</a> or <a href="http://127.0.0.1:8000/app/test/">http://127.0.0.1:8000</a> to start debudding</h4>
</div>   
     <!--<p>Hi {{ person.firstname }} {{ person.lastname }}</p>
    <p>Today it is {{ weather }}</p>
    <p>{{ leather }}</p>-->
</body>
</html>