
<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>
<h1>this is where real work will be done </h1>
<h3> We add power of statistics to medical science! (^.^), And make it look more mathematical than bi*l*gical</h3

<form action="/info.html">
  First name:<br>
  <input type="text" name="Procedure" value="proce">
  <br>
  Last name:<br>
  <input type="text" name="Diagnostic" value="diagnostic">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<p>Click on submit button, to get the corresponding PatientID and Disorder </p>

</body>
</html>