<!DOCTYPE html>
<html lang="en">
<head>
  <title>Juxt Diagnose</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="page-header">
            <h1>Juxt Diagnose</h1>
          </div>
      <form action={% url 'patient' %} method = "post"  >
          {% csrf_token %}
        
        <!--<form name = "form" method = "POST" >-->
            
      
    
        <h3>Hey docs, let us do all the diagnostics! </h3>
    <p>Click on submit button, to get the corresponding PatientID and Disorder </p>
    <!--<p>Hi {{ person.firstname }} {{ person.lastname }}</p>
    <p>Today it is {{ weather }}</p>
    <p>{{ leather }}</p>-->
    
        <div class="form-group">
          <label for="proce">Procedure:</label>
          <input type="proce" class="form-control" id="proce" placeholder="Enter 2 comma separated Procedures , ex: x1,x2" name="proce" type='text'>
        </div>
        <div class="form-group">
          <label for="diagnostic">Diagnostic:</label>
          <input type="diagnostic" class="form-control" id="diagnostic" placeholder="Enter Diagnostic, ex: p1 or p2 " name="diagnostic">
       
        <br><button type="submit" class="btn btn-default">Submit</button>
      

      </form>
    </div>
    
    </body>
    </html>
    
    
    

